/tmp
/out-tsc
.idea/
.DS_Store
.env
.env.*.local
*.local
.env.*
!.env.example
dist
*.tsbuildinfo
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
packages/rtc-e2e/playwright-report/
packages/rtc-e2e/test-results/
